.list-group-item {
  line-height: 2.5;
}
body{
  background-color: rgb(172, 176, 201);
  font-family: "Times New Roman", Times, serif;
}

.nav-wrapper{
background-color: black;
}

.input-field{
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 50px 50px 50px 50px;   
}

#cheapest_item{
  margin: auto;

}
.card{
 
  background-color: brown;
  width: 90%;
  margin-left: 26px;

}

#action{
 
  background-color: white;
  border-top: 2px solid red;
}

#item-info{
  background-color: white;
  color: black;
}

.page-footer{
  background-color: black;
  color: white;
}
#shop_smarter{
  text-align: center;
}
#product_image{
  background-color: rgb(211, 20, 20);
}


img {
    max-width:100%;
    height:auto;
}
#logo{
  width:60px;
  height: 60px;
}